<div id="<%= dom_id book_review %>">
  <p>
    <strong>Review:</strong>
    <%= book_review.review %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book_review.name %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= book_review.rate %>
  </p>

</div>
